<%= form_with(model: @user) do |f| %>
  <div class="text-red-500">
    <%= error_handler(@user) %>
  </div>

  <div class="field">
    <%= f.label(:email) %>
    <%= f.email_field(:email) %>
  </div>

  <div class="field">
    <%= f.label("password") %>
    <%= f.password_field(:password) %>
  </div>

  <div class="submit">
    <%= f.submit("註冊")%>
  </div>
<% end %>