<h1>Index</h1>

<% if @user %>
  Logged in ad <%= @user.email %>
<% end %>

<% @posts.each do |post| %>
  <div>
    <%= post.title %>
  </div>
  <div>
    <%= post.author %>
  </div>
  <div>
    <%= post.content %>
  </div>
  <%= link_to (t(:edit)), edit_post_path(post) %>
<% end %>

<%= link_to (t(:new_post)), new_post_path %>
