<h1>Index</h1>

<% if @user %>
  Logged in ad <%= @user.email %>
<% end %>

<% @posts.each do |post| %>
  <%= post.title %>
  <%= post.author %>
  <%= post.content %>
  <%= link_to "edit", edit_post_path(post) %>
<% end %>

<%= link_to "new post", new_post_path %>
